INFLUXDB_HTTP_AUTH_ENABLED=true
INFLUXDB_ADMIN_USER=aaaa
INFLUXDB_ADMIN_PASSWORD=aaaa
INFLUXDB_READ_USER=bbbb
INFLUXDB_READ_USER_PASSWORD=bbbb
INFLUXDB_WRITE_USER=cccc
INFLUXDB_WRITE_USER_PASSWORD=cccc
INFLUXDB_DB=DBNAME
INFLUXDB_USER=user
INFLUXDB_USER_PASSWORD=userpass
